<%= form_for @month, :html => { :class => 'form-horizontal' } do |f| %>
    <% if @month.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        The form contains <%= pluralize(@month.errors.count, "error") %>.
      </div>
      <ul>
      <% @month.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :start, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :start, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :end, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :money, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :money, min: 0, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                months_path, :class => 'btn' %>
  </div>
<% end %>
