<%- model_class = Month -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:start) %></th>
      <th><%= model_class.human_attribute_name(:end) %></th>
      <th><%= model_class.human_attribute_name(:money) %></th>
      <th><%= 'Used money' %></th>
      <th><%= 'Still in account' %></th> 
      <th><%= "Notes" %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @months.each do |month| %>
      <tr>
        <td><%= month.user.email %></td>
        <td><%= month.start %></td>
        <td><%= month.end %></td>
        <td><%= number_to_currency(month.money, :unit => 'BGN') %></td>
        <td><%= number_to_currency(month.notes.sum(:money), :unit => 'BGN') %></td>
        <td><%= number_to_currency(month.money - month.notes.sum(:money), :unit => 'BGN') %></td>
        <td><%= link_to 'Notes', month_notes_path(month)%></td>
        <td><%= month.created_at.strftime("%d/%m/%y") %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_month_path(month), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      month_path(month),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_month_path,
            :class => 'btn btn-primary' %>
