<h2><%= "#{@month.start} - #{@month.end}" %><h2/>

<%= link_to "Edit Month", edit_month_path(@month) %>

<%= link_to "Delete Month", month_path(@month), method: :delete, data: { confirm: "Are you sure you want to delete this month?" } %>

<%= link_to 'New Note', new_month_note_path(@month)%>

<ul id='notes'>
  <% @month.notes.each do |note| %>
    <li>
      #<%= note.id %> -
      <%= link_to note.title, [@month, note] %>
    </li>
  <% end %>
</ul>